
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
				<link rel="stylesheet" href="/static/css/main.css">
				<link rel="stylesheet" href="/static/css/y.css">
		  <link rel="icon" type="image/x-icon" href="favicon.ico">
		<title>BD之家</title>
        <meta name="keywords" content="默认关键词" />
        <meta name="description" content="默认描述" />
	</head>
	<body>
		<div class="c-top-bar">
			<div class="c-top-bar__nav">
                <div style="float:left;color: #fff;font-size: 14px;margin-top: 6px;">找合作,上人脉网
                </div>
                <ul class="list-inline c-top-bar__nav-list">
				<li class="list-inline-item c-top-bar__nav-item">
					<a class="c-top-bar__nav-link" href="#">罗小姐</a>
					</li>
					<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="#">消息</a>
					</li>
				</ul>
			</div>
		</div>
		<header class="c-page-header">
			<nav class="c-page-header__nav">
				<a class="c-page-header__logo" href="http://www.mybdhome.com/"><img class="c-page-header__logo-img" src="img/logo.png" alt="企业Logo"></a>
				<form class="c-page-header__search-form" action="#" method="get">
					<input type="hidden" name="w" value="search" />
					<input class="c-page-header__search-field" placeholder="请输入您想搜索的内容" name="so" value="">
                    <button class="c-page-header__search-submit" style="color: #ffffff;">搜索</button>
                </form>
				<a class="c-page-header__new-post" href="release.html">免费发布合作</a>
			</nav>
		</header>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<main class="page-main">
			<div class="c-new-post">
				<header class="c-new-post__header">
					<h1 class="c-new-post__title">异业合作-发布</h1></header>
				<form  action="demandw.html" method="post">
					<div class="c-new-post__form-wrapper">
						<div class="c-new-post__form-field c-new-post__form-field--post-title is-required">
                            <label class="c-new-post__field-name" for="post-title">帖子标题</label>
                            <input class="c-new-post__field-input" id="post-title" name="zname" value="" placeholder="示例：提供10元优惠券，寻求线上推广合作" maxlength="50" required>
                        </div>
						<div class="c-new-post__form-field c-new-post__form-field--aim-area is-required"><label class="c-new-post__field-name">对抢标者的地域要求</label>
							<div class="select-area" data-toggle="distpicker">
								<select class="c-new-post__field-input" id="select-province" name="aim-area-province" required></select>
								<select class="c-new-post__field-input" id="select-city" name="aim-area-city" required></select>
                                <button class="c-btn c-btn-theme c-btn-radius c-new-post__add-area" id="add-area" type="button" name="add-area" disabled>确认添加</button>
                            </div>
							<ul class="show-area"></ul>
						    <input class="c-new-post__field-input" id="chengqu" name="diqu2" value="" placeholder="" style="display: none;">
						</div>
                        <div class="c-new-post__form-field c-new-post__form-field--nickname  is-required">
                            <label class="c-new-post__field-name" for="nickname">称呼</label>
                            <input class="c-new-post__field-input" id="nickname" name="nickname" value="" placeholder="怎样称呼您" required>
                        </div>
						<div class="c-new-post__form-field c-new-post__form-field--wechat is-required">
                            <label class="c-new-post__field-name" for="wechat">微信</label>
                            <input class="c-new-post__field-input" id="wechat" name="wechat" value="" placeholder="请输入微信号" required>
                        </div>
						<div class="c-new-post__form-field c-new-post__form-field--phone">
                            <label class="c-new-post__field-name" for="phone">手机号</label>
                            <input class="c-new-post__field-input" id="phone" type="number" name="zphone" value="13539968064" placeholder="请输入电话号码" required></div>
						<div class="c-new-post__form-field c-new-post__form-field--qq">
                            <label class="c-new-post__field-name" for="qq">QQ</label>
                            <input class="c-new-post__field-input" id="qq" type="number" name="zqq" value="" placeholder="请输入QQ号码" >
                        </div>
						<div class="c-new-post__form-field c-new-post__form-field--deadline is-required">
                            <label class="c-new-post__field-name" for="deadline">截止时间</label>
							<input class="c-new-post__field-input " id="timer1" name="jztime" value="" placeholder="请选择日期时间" onclick="timer()" readonly required>
						</div>
			<script>
				function timer(){
					$("#schedule-box").show();
				}
			</script>
                        <div class="c-new-post__form-field c-new-post__form-field--demand-details is-required">
                            <label class="c-new-post__field-name">需求详情</label>
                            <textarea class="c-new-post__field-input c-new-post__field-textarea" rows="10" name="tigongss" placeholder="请简要概括您的需求详情" name="promotions"></textarea>
                        </div>
                        <button class="c-btn c-btn-theme c-btn-radius c-new-post__form-submit">发布需求</button>
                    </div>
				</form>
			</div>
		</main>
        <script src="/static/js/jquery.js"></script>
		<script src="/static/js/distpicker.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="/static/js/picker.js?id=1010"></script>
			<footer class="c-page-footer">
			<nav class="c-page-footer__row c-page-footer__about">
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/">首页&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/disclaimer.html">&nbsp;免责声明&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/about.html">&nbsp;关于我们</a>
			</nav>
			<p class="c-page-footer__row c-pagte-footer__contact"><span class="c-page-footer__contact-title c-page-footer__text">联系我们&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;客服QQ:&nbsp;623690500&nbsp;&#47;</span>
                <!--<span class="c-page-footer__text">&nbsp;联系电话:&nbsp;027-87780143 （广告推销勿扰）&nbsp;&#47;</span>-->
                <span class="c-page-footer__text">&nbsp;地址:&nbsp;武汉市洪山区书城路17号&nbsp;</span></p>



          <hr class="c-page-footer__separator">
			<p class="c-page-footer__row c-page-footer__certification"><span class="c-page-footer__text">武汉优上科技有限公司&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;鄂ICP备17005716号-2</span></p>
		</footer>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/popper.js"></script>
		<script src="/static/js/bootstrap.js"></script>


<span style="display: none;">
<!-- 统计代码 -->
<script src="https://s13.cnzz.com/z_stat.php?id=1269900004&web_id=1269900004" language="JavaScript"></script>


  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?42bf2023872596714259937eaebb4ab5";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


</span>


	</body>

</html>