{%extends 'user/accountbase.html'%}

{%block titlecss%}
<title>快人脉-我的消息</title>
{%endblock%}
{%block body%}
<div class="c-user__control-panel">
    <div class="c-user-control">
        <header class="c-user-control__header">
            <h4 class="c-user-control__title">更新职业信息</h4></header>
        <div class="c-user-control__content">
            <form class="c-account-form c-account-form--update-career" action="careerw.html" method="post">
                <div class="c-account-form__group" style="display: none;"><label
                        class="c-account-form__label is-required" for="username">用户名</label><input
                        class="c-account-form__field" id="username" placeholder="请输入用户名，可以为汉字、字母和数字" value="夜风云"
                        name="zname"></div>
                <div class="c-account-form__group"><label class="c-account-form__label is-required"
                                                          for="industry">所属行业</label>
                    <select class="c-account-form__field" id="industry" name="industry" required="">

                        <option class="c-accoutn-form__option" value="1" selected="">不修改</option>
                        <option value="1">IT/互联网</option>
                        <option value="8">金融/保险</option>
                        <option value="10">电商</option>
                        <option value="12">游戏</option>
                        <option value="14">新媒体</option>
                        <option value="15">广告</option>
                        <option value="16">旅游/出行/住宿</option>
                        <option value="18">直播/网红</option>
                        <option value="20">母婴/亲子</option>
                        <option value="22">教育/培训</option>
                        <option value="24">汽车</option>
                        <option value="26">共享系列</option>
                        <option value="28">文化/传媒</option>
                        <option value="30">婚庆/摄影</option>
                        <option value="32">餐饮/食品</option>
                        <option value="34">房产/家居</option>
                        <option value="36">通信</option>
                        <option value="38">娱乐/休闲</option>
                        <option value="39">体育健身</option>
                        <option value="40">家电/数码</option>
                        <option value="42">企业服务</option>
                        <option value="44">医药/保健</option>
                        <option value="46">化妆/美容</option>
                        <option value="48">服装/鞋类</option>
                        <option value="50">智能产业</option>
                        <option value="52">生活/办公用品</option>
                        <option value="56">制造业</option>
                        <option value="58">其他</option>

                    </select>
                </div>
                <div class="c-account-form__group"><label class="c-account-form__label is-required"
                                                          for="company">公司名称</label><input
                        class="c-account-form__field" id="company" name="company" value="则林"
                        placeholder="请输入您的公司名称"></div>
                <div class="c-account-form__group"><label class="c-account-form__label is-required"
                                                          for="brand">品牌名称</label><input
                        class="c-account-form__field" id="brand" name="brand" value="NBA" placeholder="请输入您的品牌名称">
                </div>

                <div class="c-account-form__group"><label class="c-account-form__label is-required"
                                                          for="brand">职位</label><input class="c-account-form__field"
                                                                                       id="name" name="zjob"
                                                                                       value="大佬"
                                                                                       placeholder="请输入您的职位"></div>
                <div class="c-account-form__group"><label class="c-account-form__label"
                                                          for="brand">真实姓名</label><input
                        class="c-account-form__field" id="name" name="xname" value="夜风云" placeholder="请输入您的真实姓名">
                </div>

                <div class="c-account-form__group"><label class="c-account-form__label"
                                                          for="intro">企业简介</label><textarea
                        class="c-account-form__field" id="intro" name="intro" placeholder="请输入您的企业简介">hen</textarea>
                </div>
                <button class="c-btn c-btn-theme c-btn-radius c-account-form__submit">保存</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}